<div ng-controller="OPCUA_Server_Ctrl as vm">

	<!-- Filtering -->
	<div class="container visualizer-filter-section" ng-if="vm.getSettings().socketio == false">
		<div class="row">

			<!-- Section header -->
			<div class="col-xs-12">
				<p class="visualizer-section-header">Filtering</p>
			</div>

			<!-- Filter, actions -->
			<div class="col-xs-1">
				<label>Actions</label>
				<div class="input-group btn-group" role="group">
					<button type="button" class="btn btn-warning" ng-click="vm.resetFilter()">
						Reset <i class="glyphicon glyphicon-remove"></i>
					</button>
				</div>
			</div>

			<!-- Filter, select date range start -->
			<div class="col-xs-3">
				<label>Start DateTime</label>
				<div class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup="{{vm.filter.dateFrom.format}}" ng-model="vm.filter.dateFrom.date" is-open="vm.filter.dateFrom.opened" datepicker-options="vm.filter.dateFrom.options" close-text="Close"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="vm.openDateFromFilter()">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
					<!--<div uib-timepicker ng-model="vm.filter.dateFrom.date" hour-step="1" minute-step="1" show-seconds="true" show-meridian="false" show-spinners="false"></div>-->
				</div>
			</div>

			<!-- Filter, select date range end -->
			<div class="col-xs-3">
				<label>End DateTime</label>
				<div class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup="{{vm.filter.dateTo.format}}" ng-model="vm.filter.dateTo.date" is-open="vm.filter.dateTo.opened" datepicker-options="vm.filter.dateTo.options" close-text="Close"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="vm.openDateToFilter()">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
					<!--<div uib-timepicker ng-model="vm.filter.dateTo.date" hour-step="1" minute-step="1" show-seconds="true" show-meridian="false" show-spinners="false"></div>-->
				</div>
			</div>

		</div>
	</div>

	<!-- Visualization -->
	<div class="container visualizer-chart-section">
		<div class="row">

			<!-- Section header -->
			<div class="col-xs-12">
				<p class="visualizer-section-header">Visualization</p>
			</div>

			<!-- Visualization, actions -->
			<div class="col-xs-1">
				<label>Actions</label>
				<div class="input-group btn-group" role="group">
					<button type="button" class="btn btn-danger" ng-click="vm.clearChart()">
						Clear <i class="glyphicon glyphicon-remove"></i>
					</button>
				</div>
			</div>

			<!-- Visualization, add variable -->
			<div class="col-xs-3">
				<label>Add variable</label>
				<div class="dropdown">
					<button type="button" class="btn btn-default dropdown-toggle" id="dropdownVariable" data-toggle="dropdown" aria-haspopups="true" aria-expanded="true">
						Variables <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownVariable">
						<li ng-repeat="subscription in vm.getSubscriptions()">
							<a ng-click="vm.addVarChart(subscription)">{{subscription.identifier}}</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Chart -->
			<div class="col-xs-12" style="margin-top:16px;">
				<canvas id="line"
						class="chart chart-line"
						chart-data="vm.chart.data"
						chart-labels="vm.chart.labels"
						chart-series="vm.chart.series"
						chart-options="vm.chart.options"
						chart-dataset-override="vm.chart.datasetoverride"
						chart-click="vm.chartClick">
				</canvas>
			</div>

		</div>
	</div>


</div>