<div ng-controller="OPCUA_Server_Ctrl as vm">

	<!-- Filtering -->
	<div class="container visualizer-filter-section">
		<div class="row">

			<!-- Section header -->
			<div class="col-xs-12">
				<p class="visualizer-section-header">Filtering</p>
			</div>

			<!-- Filter, select date range start -->
			<div class="col-xs-4 col-sm-3 col-md-2">
				<label>Filter - start datetime</label>
				<div class="input-group">
					<input type="text" class="form-control"/>
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>
			</div>

			<!-- Filter, select date range end -->
			<div class="col-xs-4 col-sm-3 col-md-2">
				<label>Filter - end datetime</label>
				<div class="input-group">
					<input type="text" class="form-control"/>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>

			<!-- Update chart or Apply or Clear filters -->
			<div class="col-xs-6 col-sm-5 col-md-3">
				<label>Actions</label>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-info" ng-click="vm.updateChart()">
						Update <i class="glyphicon glyphicon-refresh"></i>
					</button>
					<button type="button" class="btn btn-success" ng-click="vm.applyFilter()">
						Apply <i class="glyphicon glyphicon-ok"></i>
					</button>
					<button type="button" class="btn btn-danger" ng-click="vm.clearFilter()">
						Clear <i class="glyphicon glyphicon-remove"></i>
					</button>
				</div>
			</div>

		</div>
	</div>

	<!-- Visualization -->
	<div class="container visualizer-chart-section">
		<div class="row">

			<!-- Section header -->
			<div class="col-xs-12">
				<p class="visualizer-section-header">Visualization</p>
			</div>

			<!-- Variable selection -->
			<div class="col-xs-12">
				<label>Add variable</label>
				<div class="dropdown">
					<button type="button" class="btn btn-default dropdown-toggle" id="dropdownVariable" data-toggle="dropdown" aria-haspopups="true" aria-expanded="true">
						Variables <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownVariable">
						<li ng-repeat="subscription in vm.getSubscriptions()">
							<a ng-click="vm.selectSubscription(subscription.identifier)">{{subscription.identifier}}</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Chart -->
			<canvas id="line"
					class="chart chart-line"
					chart-data="vm.chart.data"
					chart-labels="vm.chart.labels"
					chart-series="vm.chart.series"
					chart-options="vm.chart.options"
					chart-dataset-override="vm.chart.datasetoverride"
					chart-click="vm.chartClick">
			</canvas>

		</div>
	</div>


</div>