/* OPC UA Data Visualizer filter section */
.visualizer-filter-section {
	padding-bottom: 32px;
}

/* OPC UA Data Visualizer chart section */
.visualizer-chart-section {
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}