<!doctype html>

<html>
	<head>
		<title>OPC UA Data Visualizer</title>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/angularjs-datetime-picker.css">
		<link rel="stylesheet" href="./css/style.css">
	</head>
	<body ng-app="app">

		<!-- Navigation bar -->
		<div ng-controller="Navbar_Ctrl as vm">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse-data" aria-expanded="false">
							<span class="sr-only">Toggle</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="#/" class="navbar-brand">OPC UA Data Visualizer</a>
					</div>
					<div class="collapse navbar-collapse navbar-collapse-data">
						<ul class="nav navbar-nav navbar-left">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									Server list <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li ng-repeat="server in vm.servers">
										<a href="#opcua_servers/{{server.serverId}}">ServerId({{server.serverId}}): {{server.endpoint}}</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									Subscription list <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li ng-repeat="subscription in vm.subscriptions">
										<a href="#/">ServerId({{subscription.serverId}}): {{subscription.identifier}}</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<!-- App routes -->
		<ui-view></ui-view>

		<!-- Javascript includes -->
		<script src="./scripts/bundle.js"></script>
	</body>
</html>